/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");



/* Globals */

*{
    margin: 0;
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
}



/* Variables */

:root{
    /* General */

    --transition: .1s ease-in-out;



    /* Colors */

    --accent-color-1: #b1ccc9;
    --accent-color-2: #7eaaa6;
    --accent-color-3: #478680;
    --accent-color-4: #196861;
    --accent-color-5: #005850;
    --accent-color-6: #009d4f;
}



/* Scrollbar */

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background: var(--accent-color-1);
}

::-webkit-scrollbar-thumb{
    background: var(--accent-color-4);
}



/* Header */

header{
    width: 100%;
    height: fit-content;
}

header
.upper{
    width: calc(100% - 64px);
    height: 40px;
    padding: 0 32px;
    display: flex;
    justify-content: right;
    align-items: center;
    background: var(--accent-color-5);
}

header
.upper
.buttons{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
}

header
.upper
.buttons
a{
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    color: #fff;
}

header
.upper
.buttons
a:hover{
    text-decoration: underline;
}

header
.lower{
    width: calc(100% - 64px);
    height: 100px;
    padding: 0 32px;
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
    border-bottom: 2px solid var(--accent-color-6);
}

header
.lower
.logo{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}

header
.lower
.logo
a{
    width: fit-content;
    height: fit-content;
}

header
.lower
.logo
a
img{
    width: auto;
    height: 56px;
    margin: 2px;
    display: block;
}

header
.lower
.buttons{
    width: fit-content;
    height: 100%;
}

header
.lower
.buttons
a{
    width: fit-content;
    height: calc(100% - 6px);
    padding: 0 24px;
    float: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 6px solid transparent;
    color: #000;
    font-size: 20px;
    transition: var(--transition);
}

header
.lower
.buttons
a
svg{
    width: 40px;
    height: auto;
}

header
.lower
.buttons
a
svg
line{
    stroke: #000;
    stroke-width: 10;
}

header
.lower
.buttons
a:hover{
    border-bottom: 6px solid var(--accent-color-6);
    background: #eee;
}



/* Menu */

#menu{
    width: calc(100% - 84px);
    height: fit-content;
    padding: 42px;
    background: var(--accent-color-5);
}

#menu.disabled{
    display: none;
}

#menu
a{
    width: fit-content;
    height: fit-content;
    display: block;
    font-size: 18px;
    line-height: 1.6;
    text-decoration: underline;
    color: #fff;
}

#menu
hr{
    width: 100%;
    height: auto;
    margin: 24px 0;
    border: none;
    border-bottom: 1px solid #fff;
}



/* Footer */

footer{
    width: 100%;
    height: fit-content;
    padding: 42px 0;
    background: url("../svg/banner-2.svg") var(--accent-color-5);
    background-position: bottom right;
    background-repeat: no-repeat;
}

footer
.content{
    width: 1216px;
    height: fit-content;
    max-width: calc(100% - 84px);
    padding: 0 42px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-flow: row wrap;
    gap: 32px;
}

footer
.content
.column{
    width: 0;
    height: fit-content;
    min-width: fit-content;
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column nowrap;
    gap: 22px;
}

footer
.content
.column
h1{
    width: 100%;
    height: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

footer
.content
.column
hr{
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 1px solid #fff;
}

footer
.content
.column
p{
    width: 100%;
    height: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 1.6;
}

footer
.content
.column
p
a{
    text-decoration: underline;
    color: inherit;
    transition: var(--transition);
}



/* Responsivity */

@media (width <= 800px){
    [_device="desktop"]{
        display: none !important;
    }
}

@media (width > 800px){
    [_device="phone"]{
        display: none !important;
    }
}



/* Login */

body[_loggedIn]
[_status="no-account"]{
    display: none !important;
}

body:not([_loggedIn])
[_status="account"]{
    display: none !important;
}

body:not([_loggedIn="admin"])
[_role="admin"]{
    display: none;
}

body[_loggedIn="admin"]
[_role="normal"]{
    display: none;
}